.logoImage {
	width: 18%;
	height: auto;
}

#about {
	height: auto;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 24px;
}

.item-card {
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.8);
	transition: 0.3s;
	flex: 15%;
	margin: 9px;
	background-color: white;
	border-radius: var(--border-s);
}

.item-card:hover {
	cursor: pointer;
	transform: translateY(-9px);
}

.container {
	padding: 2px 16px;
}

@media only screen and (max-width: 800px) {
	.cards-container {
		width: 100%;
		flex-direction: column;
	}
}
