:root {
	--round-border: 50%;
	--border-s: 6px;
	--full-width: 100vw;
	--full-height: 100vh;
	--main-color: rgb(11, 13, 139);
	--secondary-color: rgb(192, 7, 93);
}

* {
	box-sizing: border-box;
  }

  /* * {    
    margin: 0;
    padding: 0 !important;
} */

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

h1 {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0 !important; 
	background-color: whitesmoke;
	color: white;
	overflow-x: hidden;
}

section {
	height: 100vh;
	/* padding: 36px 48px 0; */
	margin: 0;
}

.green {
	background-image: linear-gradient(to right, #DC2424, #962596);
	width: var(--full-width);
	/* min-height: var(--full-height); */
	min-height: auto;
}

.blue {
	background-color: rgb(181, 180, 201);
}

.red {
  background-image: linear-gradient(to right, #7F00FF, #E100FF);
  width: 100%;
  height: auto; 
}

.white {
	background-color: 'white';
}

.navbar {
	background-image: linear-gradient(to right, #36031fc5, #c21521);
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.3s;
	z-index: 99;
	box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.6);
	margin: auto;
}

.navbar a {
	float: left;
	display: block;
	/* color: #f2f2f2; */
	text-align: center;
	padding: 15px 36px;
	text-decoration: none;
	font-size: 18px;
}

.navbar a:hover {
	cursor: pointer;
background-color: #33001b;
	transition: .3s;
}

/* bg animation */
.animation-container {
	background-image: linear-gradient(to bottom right, #ff0084, #33001b);
	width: var(--full-width);
}


.footer {
	background-color: black;
	height: auto;
	padding: 36px 48px;
	text-align: center;
}

.padded {
	padding: 36px;
}

.centered {
	margin: auto;
	text-align:center;
}

.middle-fonted {
	font-size: 21px;
}

@media only screen and (max-width: 800px) {
	/* place here CSS for when the screen is more than 1000px wide */
	.card-tile {
	  width: 100%;
	}

	.navbar {
		display: none;
	}
}  