.hidden {
	display: none;
	transition : 1s;
}

.visible {
	display: block;
	transition: 1s;
 }

 

 .modal {
	display: none;
	position: static; /* Stay in place */
	z-index: 9; /* Sit on top */
	padding-top: 0px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0, 0.6); /* Fallback color */
	background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
	margin: auto;
  }
  
  /* Modal Content */
  .modal-content {
	position: fixed;
	top: 60px;
	z-index: 6;
	background-color: #fefefe;
	color: gray;
	border-radius: 6px;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 100%;
	height: 90%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	padding: 2px 16px;
	background-image: linear-gradient(to left, #DC2424, #962596);
	color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
	padding: 2px 16px;
	background-image: linear-gradient(to left, #DC2424, #962596);
	width: 100%;
	color: white;
	position: absolute;
	bottom: 0;
  }

  .linker {
	  color: white;
	  padding: 9px 12px;
	  background-color: dodgerblue;
	  border: none;
      border-radius: var(--border-s);
  }