.footer-grid {
      display: grid;
      grid-template-columns: auto auto auto;
      width: 100%;
      padding: 24px;
  }

  .footer-item {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 4px solid white;
      height: 300px; 
     }

.footer-item a {
    color: whitesmoke;
    text-transform: uppercase;
    padding: 24px;
    text-decoration: none;
}

.footer-item a:hover {
    color: rgb(175, 152, 236);
    background-color: transparent;
}

.footer-item li {
    padding: 24px;
}

.footer-item ul {
    list-style-type: none;
}
